body {
    background: linear-gradient(to top, white, #004AAD);
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;

    
}


.cabeza {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 40px;
    border: #000000;


}


header .logo img {
    height: 100px;
}

nav ul {
    list-style: none;
    display: flex;       
    justify-content: flex-end; /* Alínealo a la derecha */
    margin: 0;
    padding: 0;
    gap: 50px; /* Espaciado entre los items */
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
     color: #ffffff;
    


}
.contenedor {
text-align: center;
 color: #ffffff;
}


div iframe {
  width: 100%;   /* ocupa todo el ancho disponible */
  height: 500px; /* altura fija */
  border: solid 2% #004AAD;
  border-radius: 10px;
  
}
.servicios {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;

}

.servicios h2 {
    margin-bottom: 30px;
    color: #004AAD;
    
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Para que sean responsivas */
}

.card {
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #004AAD;
        border-radius:solid 2px #004AAD;

}

.card h3 {
    color: #004AAD;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #333;
}
.formulario{
  max-width:fit-content;
  margin: 20px auto;
  padding: 20px;
}
.formulario h2 {
  text-align: center;
  margin-bottom: 15px;
}
.formulario label {
  display: block;
  margin-top: 5%;

}
.formulario input,
.formulario textarea {
  width: 100%;
  padding: 2%;
  margin-top: 5%;
  border-radius: 0%;

}
.formulario button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background:  #004AAD;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.formulario button:hover {
  background: #000000;
}
@media (max-width: 768px) {
  header.cabeza {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    height: 300px; /* más pequeño en móvil */
  }

  .formulario {
    width: 90%;
  }
}
